body {
  text-align: center;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

a {
  color: #a8577e !important;
  font-weight: bold !important;
}

i.icon,
i.icons {
  margin-bottom: 0.2em !important;
}

.ui.menu {
  background-color: #f5d7e3;
  height: 4rem;
}

.ui.menu .item {
  position: inherit;
}

.ui.icon.header {
  margin: 1em 0 1.5em !important;
}

.ui.card {
  flex-flow: wrap;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1em;
  width: 100%;
}

.color-drop {
  background-color: pink;
  margin: 2.5em;
  height: 5em;
  width: 5em;
  border-radius: 100% !important;
}

.ui.card > :first-child {
  border-radius: 100% !important;
}

.ui.card > :last-child {
  border-radius: 100% !important;
}

.color-card {
  margin: 1em;
}

.color-container {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
